{% extends "navbar.html" %}
{% block content %}

<h1 class="greet" id="meme"> Welcome to myFlaskApp! </h1>

<div class="content">
    <p>
        In software engineering, the terms frontend and backend (sometimes written as back end or back-end) refer to the separation of concerns between the presentation layer (frontend), and the data access layer (backend) of a piece of software, or the physical infrastructure or hardware. In the client–server model, the client is usually considered the frontend and the server is usually considered the backend, even when some presentation work is actually done on the server itself.
    </p>
</div>
{% endblock %}